{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/room_table.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/datetimepicker/bootstrap-datetimepicker.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>会议室预定</h1>
            <hr>

            <form>
                {% csrf_token %}
                <!-- 日历插件 -->
                <div class="col-md-2 timer">
                    <input type="text" readonly value="{{ today }}" id="datetimepicker" class="form-control">
                </div>
            </form>

            <div class="col-md-5">
                <button class="btn btn-primary" id="submit">提交</button>
            </div>

            <table class="mytable table table-bordered text-center">
                <thead>
                <tr>
                    <th>会议室</th>
                    <th>8:00</th>
                    <th>9:00</th>
                    <th>10:00</th>
                    <th>11:00</th>
                    <th>12:00</th>
                    <th>13:00</th>
                    <th>14:00</th>
                    <th>15:00</th>
                    <th>16:00</th>
                    <th>17:00</th>
                    <th>18:00</th>
                    <th>19:00</th>
                    <th>20:00</th>
                </tr>
                </thead>
                <tbody>
                {% for room, item in result_dict.items %}
                    <tr id="{{ room.id }}" class="room">
                        <td>{{ room.title }}(最大容纳{{ room.number_of_people }}人)</td>
                        {% for period in period_list %}
                            {% if period.0 in item.keys %}
                                {% for k, v in item.items %}
                                    {% if period.0 == k %}
                                        <td id="{{ period.0 }}" class="has_ordered order"
                                            order_id="{{ v.id }}">{{ v.user }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td id="{{ period.0 }}" class="order"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>
<div class="info">
    <input type="hidden" id="username" value="{{ request.session.username }}">
</div>
<script src="{% static '/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/plugins/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static '/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script src="{% static '/js/room_table.js' %}"></script>
</body>
</html>